[submodule "source/external/dr_libs"]
	path = source/external/dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "source/external/mini_al"]
	path = source/external/mini_al
	url = https://github.com/dr-soft/mini_al.git
